App product/.DS_Store
.DS_Store
App product/DB.json.zip
App product/DB.json
Data Scraping/Zipped Paper Data/CDS_doc
Data Scraping/Zipped Paper Data/CDS_doc2
Data Scraping/Zipped Paper Data/CDS_doc3
Data Scraping/Zipped Paper Data/CDS_doc4
Data Scraping/Zipped Paper Data/ATLASPapers
App product/__pycache__/
Data Scraping/Paper Data/ATLASCONFNote
Data Scraping/Paper Data/ATLASPUBNotes
Data Scraping/Paper Data/CMSPapers
Data Scraping/Paper Data/CMSPhysicsAnalysisSummaries